/* /* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #fff;
    padding: 10x 0;
    border-bottom: 1px solid #ddd;
    box-shadow: 0px 0px 0.5px white;
}

nav {
    max-width: 1100px;
    margin: 0 100px;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav_logo{
    width: 200px;
    height: 100px;
    margin-top: 10px;
    
    
}

.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar li {
    margin: 0 1rem;
}

 .navbar li a {
    text-decoration: none;
    color: #333;
    padding: 3px 0px;
    display: block;
    transition: color 0.3s;
}

.navbar li a:hover,
.navbar li a.active {
    color: #007bff;
}  



.cart_noti{
    /* position: relative; */
    /* top: 80px;
    right: 40px;
    background-color: rgb(168, 144, 4);
    padding: 5px;
    border-radius: 50%;
    color: white; */





*{
    padding: 0px;
    margin: 0px;
}

/* start nav */
.nav_logo{
    width: 200px;
    height: 100px;
    margin-left: 120px;
    margin-top: 10px;
}

.nav_item{
    float: right;
}
.nav_item li{
    display: inline-block;
    margin-top: 50px;
    margin-right: 50px;
}
.nav_item li a{
    text-decoration: none;
    font-size: 18px;
    color: black;
}
.nav{
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    background-color:aliceblue;
}

.nav_item li a:hover{
    color: rgb(168, 144, 4);
}
.cart_nav_item{
    margin-right: 30px;
}
.cart_noti{
    position: relative;
    top: -20px;
    right: 40px;
    background-color: rgb(168, 144, 4);
    padding: 5px;
    border-radius: 50%;
    color: white;
}
/* end nav */

