.btn-primary {
    background-color: #d9534f;
    border-color: #d9534f;
}

.product-card {
    max-width: 400px; /* Reduce width */
    margin: auto; /* Center card */
}
.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 1.5rem; /* Reduce padding */
}

footer {
    background-color: #181818;
    color: #fff;
    padding: 40px 0;
}
.footer-section {
    margin-bottom: 20px;
}
.footer-section h5 {
    margin-bottom: 20px;
    font-size: 18px;
}
.footer-section i {
    color: #e02c2b;
    margin-right: 10px;
}
.footer-section a {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
    transition: color 0.3s;
}
.footer-section a:hover {
    color: #e02c2b;
}
.footer-bottom {
    border-top: 1px solid #2b2b2b;
    padding-top: 20px;
    text-align: start;
}

/* Chef Section */
.chefs-section {
    background-color: #f8f9fa;
}

.section-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
}

.section-subtitle {
    color: #6c757d;
}

.card {
    border: none;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-10px);
}

/* Adjusted Image Style to be perfectly circular */
.chef-img {
    width: 150px;           /* Make width and height equal */
    height: 150px;
    object-fit: cover;       /* Ensure image content scales to fit */
    margin: 0 auto -75px;    /* Align with card body */
    border-radius: 50%;      /* Ensures a perfect circle */
    border: 5px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
    margin-top: 75px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #333;
}

.card-text {
    color: #6c757d;
}

.social-links {
    margin-top: 15px;
}

.social-links li {
    margin-right: 10px;
}

.social-links li a {
    color: #007bff;
    font-size: 1.25rem;
    transition: color 0.3s ease-in-out;
}

.social-links li a:hover {
    color: #0056b3;
}
